button{
  width: 80%;
  margin-left: 5px;
  background-color: rgba(251,171,24,255);
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  color: white;
}

.totalPrice{
  color: rgba(251,171,24,255);
  font-size: 2rem;
  font-weight: bold;
}
