.column{
  border-bottom: 1px solid rgba(251,171,24,255);
}
.cardPic{
  width: 15rem;
  height: 15rem;
  margin: 5px 0;
}
.add{
  width: 40%;
  background-color: rgba(251,171,24,255);
  border-radius: 5px;
}
.add:hover{
  cursor: pointer;
  color: white;
}
.description{
  max-width: 400px;
}
