<div class="nav-container" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout="row wrap"  >
  <div fxLayout="column" class="column" *ngFor="let product of products" fxFlex.md="50" >
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.title}}</mat-card-title>
      </mat-card-header>
      <img class="cardPic" mat-card-image src="{{product.thumbnail}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="description">
          {{product.description}}
        </p>
        <p>
          {{product.rating}} stars
        </p>
        <p>
          {{product.price}}$
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="add" (click) = "sendProduct(product)" mat-raised-button style="background-color:rgba(251,171,24,255); ">+ Add to cart</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
