.nav-container {
  background-color: rgba(251,171,24,255);
padding: 5px;
}
.img{
  height: 4rem;
  width: 4rem;
  border-radius: 50px;

}

a{
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid rgba(251,171,24,255);
  color: white;
}
.login{
  color: black;
  background-color: rgba(251,171,24,255);
}

.register{
  color: black;
  font-style: bold;
}
.register:hover{
  color: white;
  font-style: bold;
}
.name{
  font-weight: bold;
}
