.mainPic{
  width: 100%;
  height: 100%;
}
.pic{
  width: 70%;
  height: 70%;
}

.e_tech{
  color: rgba(251,171,24,255);
  font-size: 4rem;
  font-weight: bold;
}
.tech_quote{
  color: rgba(251,171,24,255);
  font-weight: 500;
}

