<div class="home" fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex="40" fxFlexOffset ="10"  fxLayout="column"  fxFlex.sm="80" fxFlex.xs="80" >
    <img class="mainPic" src="assets/images/mainPic.jpg" alt="main-pic"  >
  </div>
  <div  fxLayout="column">
    <div fxFlexOffset ="30" class="e_tech" fxLayout="row">E-Tech store</div>
    <div fxFlexOffset ="10" class="tech_quote" fxLayout="row">“Technology is best when it brings people together.”</div>
    <div fxLayout="row">
      <div fxLayout="column"><img class="pic" src="assets/images/googlePlay.png" alt="google-play-pic"  ></div>
      <div fxLayout="column"><img class="pic" src="assets/images/appleStore.png" alt="apple-store"  ></div>
    </div>
  </div>
</div>
